body {
    font-family: Arial, sans-serif;
    background-image: url(/img/background.jpg);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #038f42;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #01534E;
}

select {
    padding: 5px;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

#result.buy {
    color: green;
}

#result.stay {
    color: red;
}

#result.split {
    color: blue;
}

#result.double {
    color: yellow;
}